@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,
input,
textarea,
button,
select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* Set the background color of all pages */
html,
body {
    background-image: url("https://res.klook.com/image/upload/Mobile/City/szhx3ytpgfnhpbmsngk0.jpg");

    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-color: rgb(255, 255, 255)
}

/* Set the style of the navigation list */
header nav ul {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 2em;

}

/* Set the spacing and layout of the nav list items */
header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(43, 2, 52)
}

header nav ul li a:hover {
    color: rgb(104, 15, 124);
}

/* Make the input tags look nicer */
input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
    height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
    height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
    margin: 0;
    padding: .25em .5em;
}

/* Set the width on all tables */
table {
    width: 100%;
}

/* Set the size of the help text in forms */
.helptext {
    display: block;
    font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
    background-color: rgba(251, 251, 251, 0.711);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
    background-color: rgba(255, 255, 255, 0.778);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}


/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
}

.task-form a,
.login-form a,
.signup-form a,
.project-list a,
.project-form a,
.project-detail a {
    color: rgb(43, 2, 52);
}

.task-form a:hover,
.login-form a:hover,
.signup-form a:hover,
.project-list a:hover,
.project-form a:hover,
.project-detail a:hover {
    color: rgb(104, 15, 124);
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
    margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {

    align-items: center;
    grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
    color: rgb(43, 2, 52);
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
    background-color: rgba(255, 255, 255, 0.748);
    border-radius: 4px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td,
.project-list {
    padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 4px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
}

.starts-right {
    direction: rtl;
}

.calendar {
    width: 98%;
    font-size: 13px;
    max-width: 900px;
    padding: 2em;
    margin: auto;
}

.calendar>th {
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.calendar tr,
.calendar td {
    border: 1px solid rgb(0, 0, 0);
}

.calendar td {
    width: 80px;
    height: 100px;
    max-width: 80px;
    max-height: 100px;
    padding: 5px 5px 5px 5px;
}

.month {
    font-size: 30px;
}

.date {
    font-size: 16px;
}


.calendar ul {
    height: 78%;
    padding: 0px 0px 0px 0px;
    margin: 0px, 0px;
    margin-top: 0px;
    padding-inline-start: 15px
}

.calendar>a {
    color: #c75bd8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    outline: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    box-shadow: 0 0 0 0;
    padding: 1em;
    padding-bottom: 0;
}


.form {
    margin: auto;
}

.form input,
.form select,
.form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}

.clearfix {
    display: block;
    background-color: rgba(255, 255, 255, 0.674);
    margin: auto;
    max-width: 900px;
}
