{% extends 'base.html' %}

{% block title %}
    Companies
{% endblock title %}
{% block content %}
{% load static %}
    <main>
        <div class="project-list">
            <h1>Company list</h1>
            <p>
                <a href="{% url 'create_company' %}">Create a new company</a>
            </p>
            {% if company_list|length == 0 %}
                <p>There are no companies</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Projects</th>
                            <th>City</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in company_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_company' company.id %}">{{ company.name }}</a>
                                </td>
                                <td>{{ company.projects.all|length }}</td>
                                <td>{{ company.city }}</td>
                                <td>{{ company.phone }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
