{% extends 'base.html' %}

{% block title %}
    Show Company
{% endblock title %}
{% block content %}
{% load static %}
    <main>
        <div class="project-detail">
            <h1>{{ company.name }}</h1>
        <h3>Address</h3>
        <p>{{ company.address }}</p>
        <p>{{ company.city }}, {{ company.state }}, {{company.zip}}</p>
        <h3>Contact</h3>
        <p>{{ company.email }}</p>
        <p>{{ company.phone }}</p>
        <br>
        <a href="{% url 'company_list' %}">Show all companies</a>


        </div>
    </main>
{% endblock content %}
