{% extends 'base.html' %}

{% block title %}
  Edit User
{% endblock title %}

{% block content %}
{% load static %}
<main>
    <div class="login-form">
    <h1>Edit {{ user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Username: <input type="text" name="username" placeholder="{{ user.username }}"></p>
        <p>Email: <input type="text" name="email" placeholder="{{ user.email }}"></p>
        <p>First Name: <input type="text" name="first_name" placeholder="{{ user.first_name }}"></p>
        <p>Last Name: <input type="text" name="last_name" placeholder="{{ user.last_name }}"></p>
        <button>Edit</button>
    </form>
    </div>
</main>
{% endblock content %}
