{% extends 'base.html' %}

{% block title %}
    User Info
{% endblock title %}
{% block content %}
{% load static %}
    <main>
        <div class="login-form">
            <h1>{{ user.username }}</h1>
            <p>{{ profile.pronouns }}</p>
            {% if user.email %}
            <p>{{ user.email }}</p>
            {% else %}
            <p>no email address</p>
            {% endif %}
            <p>{{ profile.phone }}</p>
            {% if user.first_name %}
            <p>{{ user.first_name }} {{user.last_name}}</p>
            {% endif %}
            <a href="{% url 'edit_user' %}">Edit</a>

        </div>
    </main>
{% endblock content %}
