{% extends 'base.html' %}

{% block title %}
    Edit Note
{% endblock title %}
{% block content %}
{% load static %}
    <main>
        <div class="project-list">
            <h1>Edit</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Edit</button>
            </form>
        </div>
    </main>
{% endblock content %}
