{% extends "base.html" %}
{% block content %}

    {% autoescape off %}
    <div class="project-list">
        <h1>Task overview</h1>
        {{ plot_div }}
    </div>
    {% endautoescape %}}
{% endblock content %}
