{% extends 'base.html' %}

{% block title %}
    Notes
{% endblock title %}
{% block content %}
{% load static %}
    <main>
        <div class="project-list">
            <h1>{{ task.name }}</h1>
            {% for note in note_list %}
            <p>{{ note.note }}  <a href="{% url 'edit_note' note.id %}">Edit</a>  <a href="{% url 'delete_note' note.id %}">Delete</a></p>
            {% endfor %}
        </div>
        <br>
        <div class="project-list">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
