{% extends 'base.html' %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
{% load static %}
    <main>
        <div class="task-form">
            <h1>{{ project.name }}</h1>
            <a href="{% url 'show_company' project.company.id %}">{{ project.company.name }}</a>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <a href="{% url 'create_task'%}">Create a new task</a>
            {% if task_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_notes' task.id %}">{{ task.name }}</a>
                                </td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.iscompleted|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
